/* src/components/SharePledge.css */

.share-image-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.share-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #4a5568;
    /* A subtle border */
}